@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="font-family:cursive;color:green;font-size:75px"><p></p>Welcome to The Natural Touch</p></div>
    <div style="font-family:Aroha;font-size:80px;font-weight:500"><p>"Experience the Softness of Nature in Every Touch."</p></div>
    <!--   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
