@model TheNaturalTouch.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <Select asp-for="Category" class="form-control">
                    <option value="">Select Category ...</option>
                    <option value="Bath">Bath</option>
                    <option value="Hair">Hair</option>
                    <option value="Hand">Hand</option>
                    <option value="Face">Face</option>
                    <option value="Gym">Gym</option>
                    <option value="Baby">Baby</option>

                </Select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <Select asp-for="Material" class="form-control">
                    <option value="">Select Material ...</option>
                    <option value="Cotton">Cotton</option>
                    <option value="Cotton Blend">Cotton Blend</option>
                    <option value="Linen">Linen</option>
                    <option value="Microfiber">Microfiber</option>
                    <option value="Nylon">Nylon</option>
                    <option value="Polyester">Polyester</option>
                    <option value="Rayon">Rayon</option>

                </Select>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FabricType" class="control-label"></label>
                <input asp-for="FabricType" class="form-control" />
                <span asp-validation-for="FabricType" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Pattern" class="control-label"></label>
                <Select asp-for="Pattern" class="form-control">
                    <option value="">Select Pattern ...</option>
                    <option value="Checkered">Checkered</option>
                    <option value="Gingham">Gingham</option>
                    <option value="Patchwork">Patchwork</option>
                    <option value="Plaid">Plaid</option>
                    <option value="Print">Print</option>
                    <option value="Solid">Solid</option>
                    <option value="Striped">Striped</option>

                </Select>
                <span asp-validation-for="Pattern" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Style" class="control-label"></label>
                <input asp-for="Style" class="form-control" />
                <span asp-validation-for="Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Shape" class="control-label"></label>
                <Select asp-for="Shape" class="form-control">
                    <option value="">Select Shape ...</option>
                    <option value="Square">Square</option>
                    <option value="Rectangle">Rectangle</option>
                </Select>
                <span asp-validation-for="Shape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feature" class="control-label"></label>
                <Select asp-for="Feature" class="form-control">
                    <option value="">Select Feature ...</option>
                    <option value="Breathable">Breathable</option>
                    <option value="Lightweight">Lightweight</option>
                    <option value="Lint Free">Lint Free</option>
                    <option value="Long Lasting">Long Lasting</option>
                    <option value="Quick Dry">Quick Dry</option>
                    <option value="Skin Friendly">Skin Friendly</option>
                    <option value="Super Absorbent">Super Absorbent</option>
                    <option value="Super Soft">Super Soft</option>
                    <option value="Zero Twist">Zero Twist</option>
                </Select>
                <span asp-validation-for="Feature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
